.vscode/**
src/**
node_modules/**
out/**
*.md
!README.md
tsconfig*.json
vite.config.ts
vitest.config.ts
esbuild.mjs
eslint.config.mjs
scripts/**
media/screenshot-light.png
.github/**
media/screenshot-sticky.png
